body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Cor de fundo */
}

.card {
    /* Ajustes no cartão */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço */
}

footer {
    height: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cartões */
}
